
header {
    width: 100%;
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}
header .container {
    background-color: var(--light-color-oty);
    width: min(1200px, 100%);
    display: flex;
    justify-content: space-between;
    padding: 0 var(--nav-height);
    align-items: center;
    height: var(--nav-height);
    border-radius: 0 0 30px 30px;
}

header .container .logo img {
    height: var(--nav-height);
}

header .container .logo img:hover {
    transition: .2s;
    filter: invert(30%) sepia(73%) saturate(2915%) hue-rotate(8deg) brightness(92%) contrast(90%);
    -webkit-filter: invert(30%) sepia(73%) saturate(2915%) hue-rotate(8deg) brightness(92%) contrast(90%);
}

header .container .nav-bar {
    width: 70%;
}
header .container .nav-bar ul {
    display: flex;
    justify-content: space-between;
}

header .container .nav-bar ul li {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    cursor: default;
    transition: .4s;
    color: var(--font-color-oty);
}
header .container .nav-bar ul li:hover {
    color: var(--dark-color-oty);
}
