:root {
    --menu-height: 70px;
    --dark-color-oty: #d14b0d;
    --light-color-oty: #ffd5a5;
    --font-color-oty: #ec773c;
}
/* color-oty : color of the year*/

header {
    width: 100%;
    height: var(--menu-height);
    display: flex;
    justify-content: center;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}
header .container {
    background-color: var(--light-color-oty);
    width: min(1200px, 100%);
    display: flex;
    justify-content: space-between;
    padding: 0 var(--menu-height);
    align-items: center;
    height: var(--menu-height);
    border-radius: 0 0 30px 30px;
}

header .container .logo img {
    height: var(--menu-height);
}

header .container .logo img:hover {
    transition: .4s;
    filter: invert(26%) sepia(89%) saturate(1386%) hue-rotate(357deg) brightness(109%) contrast(94%);
}

header .container .menubar {
    width: 70%;
}
header .container .menubar ul {
    display: flex;
    justify-content: space-between;
}

header .container .menubar ul li {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    cursor: default;
    transition: .4s;
    color: var(--font-color-oty);
}
header .container .menubar ul li:hover {
    color: var(--dark-color-oty);
}
